.header{
    background-color: #f4f0ea;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    // border: 3px solid red; 

    .background{
        background-color: black;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
    }


    .burger{
        width: 22.5px;
        position: relative;
        pointer-events: none;
        // border: 3px solid red; 

        &::after, &::before{
            content: "";
            height: 1px;
            width: 100%;
            background-color: black;
            position: relative;
            display: block;
            transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &::after{
            top: -4px;
        }

        &::before{
            top: 4px;
        }
    }

    .burgerActive{
        
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }

        &::before{
            transform: rotate(-45deg);
            top: 1px;
        }
    }
        
}