/* contact.css */

.sectionContainer {
    padding: 20px;
  }
  
  .sectionContainer h2 {
    margin-bottom: 20px;
  }
  
  .sectionContainer p {
    margin-bottom: 20px;
  }
  
  .flex {
    display: flex;
    gap: 20px; /* Add space between input fields */
  }
  
  .inputField {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    margin-top: 20px;
  }
  
  .hover-target {
    cursor: pointer;
  }
  