body {
  background-color: rgb(248, 247, 241);
}

/* .hover-target {
  cursor: none;
} */

.body, .logoContainer, .footerContainer{
  display: flex;
}

.header {
  padding: 1rem;
  border-bottom: 0.8px solid black;
}

.footer p, .footer Link {
  font-size: 10px;
}

.footer {
  border-top: 0.8px solid black;
}

.navBar {
  border-right: 0.8px solid black;
}

.navContainer, .navBar, .page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoContainer {
  justify-content: center;
  align-items: center;
}

.navContainer, .page .content, .page{
  flex: 1; 
}

.navBar {
  padding-top: 200px;
  padding-bottom: 200px;
}

.navBar a {
  transform: rotate(-90deg);
}

/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}