.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: background-color 0.3s, border-color 0.3s;
}

.cursor .hover {
  transform: translate(-50%, -50%) scale(4);
  transition: transform 250ms ease-in-out;
}

.inner .hover {
  background: #f7f7f7;
  mix-blend-mode: difference;
}

.inner {
  border: rgb(0, 0, 0) 0.2px solid;
}
